public/hamburguesas.dtd

<!ELEMENT hamburgueseria (hamburguesa | plato | bebida | postre | contacto | juego_ruleta)*>

<!ELEMENT hamburguesa (nombre, autor, precio, descripcion, frecuencia, imagen, ingredientes?, extras?)>
<!ATTLIST hamburguesa 
          categoria CDATA #REQUIRED
          sugerencia (si|no) #IMPLIED>

<!ELEMENT plato (nombre, descripcion, precio, imagen, ingredientes?)>
<!ATTLIST plato 
          categoria CDATA #REQUIRED
          sugerencia (si|no) #IMPLIED>

<!ELEMENT bebida (nombre, descripcion, precio, imagen)>
<!ATTLIST bebida 
          categoria CDATA #REQUIRED
          sugerencia (si|no) #IMPLIED>

<!ELEMENT postre (nombre, descripcion, precio, imagen)>
<!ATTLIST postre 
          categoria CDATA #REQUIRED
          sugerencia (si|no) #IMPLIED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT frecuencia (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>

<!ELEMENT ingredientes (item+)>
<!ELEMENT item (#PCDATA)>
<!ATTLIST item modificable (si|no) "no">

<!ELEMENT extras (suplemento+)>
<!ELEMENT suplemento (#PCDATA)>
<!ATTLIST suplemento precio CDATA #REQUIRED>

<!ELEMENT contacto (direccion, horario, telefono, mapa_url)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT horario (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT mapa_url (#PCDATA)>

<!ELEMENT juego_ruleta (usuario_logeado, ya_jugo, premio_destino, fecha_giro, caducidad)>
<!ATTLIST juego_ruleta activo (si|no) #REQUIRED>

<!ELEMENT usuario_logeado (#PCDATA)>
<!ELEMENT ya_jugo (#PCDATA)>
<!ELEMENT premio_destino (#PCDATA)>
<!ELEMENT fecha_giro (#PCDATA)>
<!ELEMENT caducidad (#PCDATA)>